# -*- mode: ruby -*-
# vi: set ft=ruby :

#
# InVaDE - [In]nogames [Va]grant [D]evelopment [E]nvironment
#
# @author Lennart Stein
# @email  lennart.stein@innogames.com
# @web    http://github.com/innogames/invade
#

#
# This is a basic default configuration file!
# All available configuration settings at https://github.com/innogames/invade
#

# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# VAGRANT - GENERAL CONFIGURATION
# #

$vagrant_general_box_name       = "puphpet/ubuntu1404-x64"
$vagrant_general_box_url        = "puphpet/ubuntu1404-x64"

# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# VAGRANT - NETWORK CONFIGURATION
# #

$vagrant_network_ip             = "192.168.124.4"
$vagrant_network_hostname       = "local.invade"

# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# VAGRANT - SHARED FOLDER CONFIGURATION
##

$vagrant_shared_folder          = false
$vagrant_shared_folder_source   = "../.."
$vagrant_shared_folder_path     = "/www"
$vagrant_shared_folder_type     = "nfs"

# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# VAGRANT - PERFORMANCE CONFIGURATION
# #

$vagrant_performance_cores      = 4
$vagrant_performance_ram        = 1024

# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# VAGRANT - PUPPET CONFIGURATION
# #

$vagrant_puppet                 = false
$vagrant_puppet_modules         = []
